// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-icon-devlog-hover-name: 'sprite-icon-devlog-hover';
$sprite-icon-devlog-hover-x: 0px;
$sprite-icon-devlog-hover-y: 0px;
$sprite-icon-devlog-hover-offset-x: 0px;
$sprite-icon-devlog-hover-offset-y: 0px;
$sprite-icon-devlog-hover-width: 78px;
$sprite-icon-devlog-hover-height: 78px;
$sprite-icon-devlog-hover-total-width: 238px;
$sprite-icon-devlog-hover-total-height: 238px;
$sprite-icon-devlog-hover-image: '/img/sprite.png';
$sprite-icon-devlog-hover: (0px, 0px, 0px, 0px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-devlog-hover', );
$sprite-icon-devlog-name: 'sprite-icon-devlog';
$sprite-icon-devlog-x: 80px;
$sprite-icon-devlog-y: 0px;
$sprite-icon-devlog-offset-x: -80px;
$sprite-icon-devlog-offset-y: 0px;
$sprite-icon-devlog-width: 78px;
$sprite-icon-devlog-height: 78px;
$sprite-icon-devlog-total-width: 238px;
$sprite-icon-devlog-total-height: 238px;
$sprite-icon-devlog-image: '/img/sprite.png';
$sprite-icon-devlog: (80px, 0px, -80px, 0px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-devlog', );
$sprite-icon-fb-hover-name: 'sprite-icon-fb-hover';
$sprite-icon-fb-hover-x: 0px;
$sprite-icon-fb-hover-y: 80px;
$sprite-icon-fb-hover-offset-x: 0px;
$sprite-icon-fb-hover-offset-y: -80px;
$sprite-icon-fb-hover-width: 78px;
$sprite-icon-fb-hover-height: 78px;
$sprite-icon-fb-hover-total-width: 238px;
$sprite-icon-fb-hover-total-height: 238px;
$sprite-icon-fb-hover-image: '/img/sprite.png';
$sprite-icon-fb-hover: (0px, 80px, 0px, -80px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-fb-hover', );
$sprite-icon-fb-name: 'sprite-icon-fb';
$sprite-icon-fb-x: 80px;
$sprite-icon-fb-y: 80px;
$sprite-icon-fb-offset-x: -80px;
$sprite-icon-fb-offset-y: -80px;
$sprite-icon-fb-width: 78px;
$sprite-icon-fb-height: 78px;
$sprite-icon-fb-total-width: 238px;
$sprite-icon-fb-total-height: 238px;
$sprite-icon-fb-image: '/img/sprite.png';
$sprite-icon-fb: (80px, 80px, -80px, -80px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-fb', );
$sprite-icon-indiedb-hover-name: 'sprite-icon-indiedb-hover';
$sprite-icon-indiedb-hover-x: 160px;
$sprite-icon-indiedb-hover-y: 0px;
$sprite-icon-indiedb-hover-offset-x: -160px;
$sprite-icon-indiedb-hover-offset-y: 0px;
$sprite-icon-indiedb-hover-width: 78px;
$sprite-icon-indiedb-hover-height: 78px;
$sprite-icon-indiedb-hover-total-width: 238px;
$sprite-icon-indiedb-hover-total-height: 238px;
$sprite-icon-indiedb-hover-image: '/img/sprite.png';
$sprite-icon-indiedb-hover: (160px, 0px, -160px, 0px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-indiedb-hover', );
$sprite-icon-indiedb-name: 'sprite-icon-indiedb';
$sprite-icon-indiedb-x: 160px;
$sprite-icon-indiedb-y: 80px;
$sprite-icon-indiedb-offset-x: -160px;
$sprite-icon-indiedb-offset-y: -80px;
$sprite-icon-indiedb-width: 78px;
$sprite-icon-indiedb-height: 78px;
$sprite-icon-indiedb-total-width: 238px;
$sprite-icon-indiedb-total-height: 238px;
$sprite-icon-indiedb-image: '/img/sprite.png';
$sprite-icon-indiedb: (160px, 80px, -160px, -80px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-indiedb', );
$sprite-icon-youtube-hover-name: 'sprite-icon-youtube-hover';
$sprite-icon-youtube-hover-x: 0px;
$sprite-icon-youtube-hover-y: 160px;
$sprite-icon-youtube-hover-offset-x: 0px;
$sprite-icon-youtube-hover-offset-y: -160px;
$sprite-icon-youtube-hover-width: 78px;
$sprite-icon-youtube-hover-height: 78px;
$sprite-icon-youtube-hover-total-width: 238px;
$sprite-icon-youtube-hover-total-height: 238px;
$sprite-icon-youtube-hover-image: '/img/sprite.png';
$sprite-icon-youtube-hover: (0px, 160px, 0px, -160px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-youtube-hover', );
$sprite-icon-youtube-name: 'sprite-icon-youtube';
$sprite-icon-youtube-x: 80px;
$sprite-icon-youtube-y: 160px;
$sprite-icon-youtube-offset-x: -80px;
$sprite-icon-youtube-offset-y: -160px;
$sprite-icon-youtube-width: 78px;
$sprite-icon-youtube-height: 78px;
$sprite-icon-youtube-total-width: 238px;
$sprite-icon-youtube-total-height: 238px;
$sprite-icon-youtube-image: '/img/sprite.png';
$sprite-icon-youtube: (80px, 160px, -80px, -160px, 78px, 78px, 238px, 238px, '/img/sprite.png', 'sprite-icon-youtube', );
$spritesheet-width: 238px;
$spritesheet-height: 238px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($sprite-icon-devlog-hover, $sprite-icon-devlog, $sprite-icon-fb-hover, $sprite-icon-fb, $sprite-icon-indiedb-hover, $sprite-icon-indiedb, $sprite-icon-youtube-hover, $sprite-icon-youtube, );
$spritesheet: (238px, 238px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
