$block: '.social-btn';
#{$block} {
    text-align: center;
    cursor: pointer;
    &--fb {
        @include sprite($sprite-icon-fb);
        &:hover {
            @include sprite-position($sprite-icon-fb-hover);
        }
    }
    &--devlog {
        @include sprite($sprite-icon-devlog);
        &:hover {
            @include sprite-position($sprite-icon-devlog-hover);
        }
    }
    &--youtube {
        @include sprite($sprite-icon-youtube);
        &:hover {
            @include sprite-position($sprite-icon-youtube-hover);
        }
    }
    
}