$block: '.social-btn';
#{$block} {
    text-align: center;

    cursor:pointer;

    &--fb {
        @include sprite($sprite-icon-fb);
    }
    &--devlog {
        @include sprite($sprite-icon-devlog);
    }
    &--indiedb {
        @include sprite($sprite-icon-indiedb);
    }
}