$block: '.social-btn';
#{$block} {
    text-align: center;
    width: 78px;
    height: 78px;

    cursor:pointer;

    &--fb {
        background: url(/img/icon-fb.png)
    }
    &--devlog {
        background: url(/img/icon-devlog.png)
    }
    &--indiedb {
        background: url(/img/icon-indiedb.png)
    }
}